html{
    scroll-behavior: smooth;
}

body{
    margin: 0 auto;
    background-color: black;
}
/*Menu abaixo*/
div.menu{
    width:100%;
    background-color: #fec12b;
    display:flex;
    position: sticky;
    top:0;
    z-index: 10000000000000;
 
}

div.logo{
    float:left;
    height: 100%;
    width:10vw;
    position: absolute;
    margin-left: 3vw;
}

div.logo img{
  bottom: 0;
  height: 100%;

}

div.arruma{
    height:100%;
    margin:0 auto;
    display:flex;
    background-color: #fec12b;
}

div.arruma  a{
	display:block;
    padding: 0.3vw 2vw;
	float:left;
	text-decoration:none;
	font-family:tahoma;
	font-size:1.5vw;
	color:black;
	transition:color 0.5s;
    transition:background-color linear 0.33s;
    text-align: center;
}

div.menu ol{
    padding:0;
    list-style-type:none;
    height: 100%;
}

div.arruma ol a:hover{
    color:#DBA901;
    background-color:#141414;
    
}
/* aaaaaaaaaaaaaaaaaaaa */

div.frsctt{
    margin: 2vw auto;
    width: 30vw;
    border-radius: 1vw;
    background: rgb(12, 12, 12);
    width: 100%;
    height: 10vw;
}

div.frsctt h3{
    text-align: center;
    font-size: 6vw;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-shadow:2px 2px black ;
}

div.stik{
    width: 7vw;
    height: 0.8vw;
    border-radius: 2vw;
    background: #fec12b;
    margin: 0.5vw auto;
    transition: width 0.5s;
    margin-bottom: 1vw;
}

div.frsctt:hover > div.stik{
    width: 11vw;
}

/* aaaaaaaaaaaaaaa */
div.revbas{
    width: 100%;
    height: 10vw;
    background: rgb(12, 12, 12);
    border-radius: 1vw;
    margin-top: 2vw;
    position: relative;
    display: flex;
    flex-direction: column;
}

div.revbas .ab{
    position: absolute;
    width: 100%;
}

div.revbas h3 {
    font-size: 6vw;
    margin: 0 auto;
    text-align: center;
    color:rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 1px 1px black;
}

div.stars {
    width: fit-content;
    margin: 0 auto;
}

div.revbas i{
    font-size: 3vw;
    margin: 0 auto;
    color: rgb(240, 193, 38);
    padding: 0;
    margin: 0 auto;
    text-align: center;
}


div.bas{
    width: 100%;
    height: 40vw;
    background: rgb(32, 30, 31);
    margin: 3vw auto;
    border-radius: 0.8vw;
    display: flex;
    flex-direction: row;
}

div.vidbas{
    width:55%;
    height: 100%;
    position: relative;
    background: rgb(240, 193, 38);
}

div.direitabas{
    width: 45%;
    height: 100%;
    background: rgb(32, 30, 31);
    position: relative;
}

div.ifrm {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: absolute;
}

div.vidvid{
    height: 90%;
    width: 90%;
    background: black;
    margin: 2vw auto;

}

div.tit{
    margin: -3.5vw auto;
}

div.ab {
    position: absolute;
}

div.tit h3{
    font-size: 4vw;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

div.contrev{
    width: 90%;
    margin: 4vw auto;
}

div.contrev p{
    font-family: tahoma;
    font-size: 1.5vw;
    margin: 7vw auto;
    color: white;
    text-align: center;
}



/* Rodape */
footer{
    padding: 0 2vw 2vw 2vw;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    background-color: rgb(12, 12, 12);
    position: absolute;
    z-index: 2;
}

footer i{
    margin-right: 5px;
}

footer p,a{
    font-family: Arial, Helvetica, sans-serif;
}

footer div.esquerda{
    float: left;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

footer div.arrmesquerda{
    position: relative;
    height: 100%;

}

div.logordp{
    width: 5vw;
    height: 5vw;
    margin-left: -3vw;
}

div.logordp img{
    width:10vw;
    margin-left:6vw;
}

div.mnrdp{
    display: flex;
    flex-direction: row;
    margin: 0vw auto;
    white-space: nowrap;
    margin-top: 2vw;
    margin-bottom: 1vw;
}

div.mnrdp p a{
    text-decoration: none;
    font-size: 1.1vw;
    color: white;
    text-align: center;
}

div.mnrdp p{
    color: white;
    font-size:1.3vw;
}

footer div.arrumacpr{
    height: 1vw;
    margin: -2.3vw auto;
    position: absolute;
}

footer div.esquerda .arrumacpr p{
    font-size: 1vw;
    color: rgb(167, 167, 167);

}

footer div.meio{
    width: 33%;
    float: right;
    margin-top:1vw;

}

footer div.meio div{
    margin:0 auto;
    margin-left: 7vw;
}

footer div.meio i{
    background: rgb(37, 36, 36);
	color: #ffffff;
	font-size: 1.2vw;
	width: 2.6vw;
	text-align: center;
	line-height: 2.8vw;
	margin: 0.8vw 1vw;
    vertical-align: middle;
    border-radius: 50%;
}

footer div.meio p{
    display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
	font-size:1.1vw;
}

footer div.meio p span{
    display:block;
	font-weight: normal;
	font-size:0.95vw;
	line-height:2;
}

footer div.direita{
    float: right;
    width: 33%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

footer div.social{
    margin-right: 5vw;
    margin-top: 2vw;
}

footer div.direita i{
    color: #fff;
    font-size: 1.5vw;
    margin: 0 auto;
}

footer div.direita a{
    float:right;
    text-decoration:none;
    margin: 0 auto;
    margin-right: 2vw;
}

footer .sobe a{
    position: absolute;
    right: 1vw;
    bottom: 1vw;
    color: #DBA901;
    font-size: 2vw;
}

footer .sobe a i{
    font-size: 2vw;
}

