.footer-distributed{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 1.4vw sans-serif;
	padding: 4vw;
	margin-top: 2vw;
	height:20vw;
}
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
	height:13vw;
	border:solid 0.1vw #fff;
}
.footer-distributed .footer-left{
	width: 40%;
}
.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
	font-size:2.7vw;
}
.footer-distributed h3 span{
	color:  #5383d3;
}
.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 1.5vw 0vw;
	padding: 0;
}
.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
	font-size:1.2vw;
}
.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 1.1vw;
	font-weight: normal;
	margin: 0;
}
.footer-distributed .footer-center{
	width: 35%;
}
.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 1.4vw;
	width: 2.6vw;
	height: 2.6vw;
	border-radius: 50%;
	text-align: center;
	line-height: 2.8vw;
	margin: 0.8vw 1vw;
	vertical-align: middle;
}
.footer-distributed .footer-center i.fa-envelope{
	font-size: 1.1vw;
	line-height: 2.5vw;
}
.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
	font-size:1.2vw;
}
.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:1vw;
	line-height:2;
}
.footer-distributed .footer-center p a{
	color:  #5383d3;
	text-decoration: none;;
}
.footer-distributed .footer-right{
	width: 20%;
}
.footer-distributed .footer-company-about{
	line-height: 1.4vw;
	color:  #92999f;
	font-size: 0.95vw;
	font-weight: normal;
	margin: 0;
}
.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 1.1vw;
	font-weight: bold;
	margin-bottom: 1.5vw;
}
.footer-distributed .footer-icons{
	margin-top: 1.5vw;
}
.footer-distributed .footer-icons a{
	display: inline-block;
	width: 14%;
	height: 2.5vw;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 0.1vw;
	font-size: 1.5vw;
	color: #ffffff;
	text-align: center;
	line-height: 0.5vw;
	margin-right: 0.3vw;
	margin-bottom: 0.1vw;
}
@media (max-width: 10pxx	) {
	.footer-distributed{
		font: bold 1.3vw sans-serif;
	}
	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 3vw;
		text-align: center;
	}
	.footer-distributed .footer-center i{
		margin-left: 0;
	}
}
